/auth/node_modules

/products/node_modules

/brands/node_modules

/user-ratings/node_modules

/client/node_modules
/client/build

/infra/dummy-data/node_modules

/lists/node_modules

/common/build 
/common/node_modules